<div class="footer">
  <div class="footer_bottom">
    <div class="copy">
      <p>Copyright &copy; {{ site.time | date: '%Y' }} システム屋まそお 舩原 理生. 　<small>Design by <a href="http://www.templategarden.com" rel="nofollow">TemplateGarden</a></small></p>
    </div>
  </div>
</div>

<script src="{{ masoo_baseurl }}js/jquery.min.js"></script>
{% if page.title %}{% else %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".scroll").click(function(event){		
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
    });
  });
</script>
{% endif %}

      <script type="text/javascript" src="{{ masoo_baseurl }}js/responsive-nav.js"></script> 