{% if page.title %}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
{% else %}
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ site.title }}">
{% endif %}
<meta property="og:site_name" content="システム屋まそお">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:description" content="{% if page.content %}{{ page.content | newline_to_br | strip_html | strip_newlines | truncate: 160, "" | escape  }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:locale" content="ja_JP" />
{% if page.thumbnail %}
<meta property="og:image" content="{{ page.thumbnail }}" />
<meta name="twitter:image" content="{{ page.thumbnail }}" />
{% else %}
<meta property="og:image" content="http://www.masoo.jp/images/ogp.png" />
<meta name="twitter:image" content="http://www.masoo.jp/images/ogp.png" />
{% endif %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@masoojp">
<meta name="twitter:description" content="{% if page.content %}{{ page.content | newline_to_br | strip_html | strip_newlines | truncate: 160, "" | escape }}{% else %}{{ site.description }}{% endif %}" />
