<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
{% assign masoo_baseurl = "../../../../" %}
{% include head.html %}
</head>
<body>
  {% include header.html %}

<div class="about">
  <div class="container">
    <section class="title-section">
      <h1 class="title-header"> Blog </h1>
    </section>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">

      <div class="blog_grid">
        <h2 class="post_title"><a href="{{ post.url }}">{{ page.title }}</a></h2>
        <ul class="links">
          <li><i class="fa fa-calendar"></i>{{ page.date | date: '%Y年%m月%d日' }}</li>
          <li><i class="fa fa-user"></i> <a href="#">{{ page.author }}</a></li>
        </ul>
        {{ content }}
      </div>

    </div>
    <div class="col-md-4 blog_sidebar">
      <ul class="sidebar">
        <h3>Categories</h3>
        <li>なし</li>
      </ul>
      <ul class="sidebar">
        <h3>Recent posts</h3>
        {% for post in site.posts limit:5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

  {% include footer.html %}
  {% include google_analytics.html %}
</body>
</html>
